asgiref==3.11.1
certifi==2026.4.22
charset-normalizer==3.4.7
defusedxml==0.7.1
Django==6.0.5
django-ledger==0.8.4
django-treebeard==5.0.5
Faker==40.15.0
fonttools==4.62.1
fpdf2==2.8.7
gitignore_parser==0.1.13
gpt-repository-loader==0.10.0
idna==3.15
Markdown==3.10.2
ofxtools==0.9.5
pillow==12.2.0
psycopg==3.3.4
psycopg2-binary
pyperclip==1.11.0
regex==2026.5.9
requests==2.34.2
sqlparse==0.5.5
tabulate==0.10.0
tiktoken==0.13.0
token-count==0.2.1
typing_extensions==4.15.0
urllib3==2.7.0
